{
  "only": "*.js",
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        }
      }
    ],
    "flow",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-inline-imports-commonjs"
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
