# docusaurus
.log
.nojekyll

node_modules
/coverage
/lib
/_export
# _esy folders can appear deeper. For instance, bin/npm-binary-wrapper is a separate esy project. See README in that folder to understand why
_esy 
/_build
/_release
/_platformrelease
/bin/fastreplacestring
.merlin
npm-debug.log
yarn-error.log
*.install
.esy-bash-path
test-e2e-re/lib/verdaccio/storage
*~

# script files to automate local testing
dev.sh
dev.ps1