profile=ocamlformat
quiet=false
max-iters=10
comment-check=true
wrap-fun-args=true
wrap-comments=false
type-decl=compact
space-around-arrays=false
space-around-lists=false
space-around-variants=false
space-around-records=false
single-case=compact
sequence-style=separator
parse-docstrings=false
parens-tuple-patterns=multi-line-only
parens-tuple=always
parens-ite=false
ocp-indent-compat=false
module-item-spacing=sparse
margin=80
let-open=preserve
let-binding-spacing=compact
let-and=compact
leading-nested-match-parens=false
infix-precedence=indent
indicate-nested-or-patterns=space
indicate-multiline-delimiters=space
if-then-else=compact
field-space=loose
extension-sugar=preserve
escape-strings=preserve
escape-chars=preserve
doc-comments-tag-only=default
doc-comments-padding=2
doc-comments=after
disable=false
cases-exp-indent=2
break-struct=force
break-string-literals=auto
break-sequences=true
break-separators=after
break-infix-before-func=true
break-infix=wrap
break-fun-decl=wrap
break-collection-expressions=fit-or-vertical
break-cases=nested
