/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-33%);
  overflow: hidden;
}

.title {
  padding: 4rem 6rem;
}

.minHeight {
  height: 100%;
}

@media screen and (max-width: 996px) {
  .title {
    padding: 4rem;
  }
  .minHeight {
    /* height: 760px; */
  }
}
