{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": ["transform-es2015-destructuring", "transform-object-rest-spread"]
}
